{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" href="dist/excel/css/excel.css">
{% endblock %}
{% block content %}
<form class="excel-form" id="excelForm">
    <div class="excel-panel">
        <label>姓名</label>
        <input type="text" name="name" placeholder="请输入你的姓名">
    </div>
    <div class="excel-panel">
        <label>性别</label>
        <select name="sex">
            <option value="0">男</option>
            <option value="1">女</option>
        </select>
    </div>
    <div class="excel-panel">
        <label>学号</label>
        <input type="text" name="number">
    </div>
    <div class="excel-panel">
        <label>生日</label>
        <input type="text" name="birthday">
    </div>
    <button type="button" class="excel-submit">提交按钮</button>
    <div class="excel-wrap">
        <img src="src/common/img/loading.gif" alt="loading">
    </div>
</form>
<script src="dist/excel/js/excel.js"></script>
{% endblock %}
