{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" href="src/excel/css/excel.css">
{% endblock %}
{% block content %}
<form>
    <div class="excel-panel">
        <label>姓名</label><input type="text" name="name">
    </div>
    <div class="excel-panel">
        <label>学号</label><input type="text" name="number">
    </div>
    <div class="excel-panel">
        <label>性别</label><input type="text" name="sex">
    </div>
    <div class="excel-panel">
        <label>生日</label><input type="text" name="birthday">
    </div>
</form>
{% endblock %}
