{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" href="src/japan/css/japan.css">
{% endblock %}
{% block content %}
<div class="container">
    <section class="main">
        <ul id="st-stack" class="st-stack-raw">
            <li><div class="st-item"><img src="src/japan/img/1.jpg"/></div><div class="st-title"><h2>Graverobber</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/2.jpg"/></div><div class="st-title"><h2>Hideous Snake Queen</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/3.jpg"/></div><div class="st-title"><h2>Queen of Hearts</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/4.jpg"/></div><div class="st-title"><h2>Dead Pirate vs Kraken</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/5.jpg"/></div><div class="st-title"><h2>Mountain Lion</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/6.jpg"/></div><div class="st-title"><h2>Flying Skull</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/7.jpg"/></div><div class="st-title"><h2>The Fly &amp; Bureaucratic Elephant</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/8.jpg"/></div><div class="st-title"><h2>Failsnake</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/9.jpg"/></div><div class="st-title"><h2>Cultist</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/10.jpg"/></div><div class="st-title"><h2>Crusader &amp; Viking</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/11.jpg"/></div><div class="st-title"><h2>Crocodile</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/12.jpg"/></div><div class="st-title"><h2>Captain Banana</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/13.jpg"/></div><div class="st-title"><h2>Werewolf</h2><h3>Our memory</h3></div></li>
            <li><div class="st-item"><img src="src/japan/img/14.jpg"/></div><div class="st-title"><h2>Vegetables</h2><h3>Our memory</h3></div></li>
        </ul>
    </section>
</div><!-- /container -->
<script src="src/common/js/jquery/stackslider/modernizr.custom.js"></script>
<script src="src/common/js/jquery/stackslider/jquery.stackslider.js"></script>
<script src="src/japan/js/japan.js"></script>
{% endblock %}