{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" href="src/japan/css/japan.css">
{% endblock %}
{% block content %}
<div class="container">
    <section class="main">
        <ul id="st-stack" class="st-stack-raw">
            {% for img in imgList%}
            <li>
                <div class="st-item">
                    <img src="{{ img.src | safe}}"/>
                </div>
                <div class="st-title">
                    <h2>{{ img.h2 | safe}}</h2>
                    <h3>{{ img.h3 | safe}}</h3>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</div><!-- /container -->
<script src="src/common/js/jquery/stackslider/modernizr.custom.js"></script>
<script src="src/common/js/jquery/stackslider/jquery.stackslider.js"></script>
<script src="src/japan/js/japan.js"></script>
{% endblock %}