{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet" href="dist/css/japan.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="main">
        <ul id="st-stack" class="st-stack-raw">
            {% for img in imgList%}
            <li>
                <div class="st-item">
                    <img src="{{ img.src | safe}}"/>
                </div>
                <div class="st-title">
                    <h2>{{ img.h2 | safe}}</h2>
                    <h3>{{ img.h3 | safe}}</h3>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<button class="upload-open">
    <img src="dist/images/upload1.png" alt="上传图片">
</button>
<div class="overlay">
    <div class="japan-pop">
        <p>一生所爱</p>
        <div class="japan-panel">
            <input type="text" name="answer">
        </div>
        <button id="checkLove">确定</button>
        <a href="javascript:void(0);">×</a>
    </div>
</div>
<script src="src/lib/jquery/stackslider/modernizr.custom.js"></script>
<script src="src/lib/jquery/stackslider/jquery.stackslider.js"></script>
<script src="dist/js/japan.js"></script>
{% endblock %}